.main {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}

.footer {
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  color: white;
  background-color: #1d1d1d;
  max-height: 10%;
  width: 100%;
}

.footer a {
  color: #00c3ff;
}

.title {
  margin: 0 0 1rem 0;
  line-height: 1.15;
  font-size: 2rem;
}

.title,
.description {
  text-align: center;
  color: #1d1d1d;
}

.description {
  line-height: 1.5;
  font-size: 1rem;
}

.description p {
  margin: 0;
}

.code {
  background: #fafafa;
  border-radius: 5px;
  padding: 0.75rem;
  font-size: 1.1rem;
  font-family: Menlo, Monaco, Lucida Console, Liberation Mono, DejaVu Sans Mono,
    Bitstream Vera Sans Mono, Courier New, monospace;
}
